{
  "root": true,
  "extends": [
    "@antfu/eslint-config-ts"
  ],
  "rules": {
    "curly": [
      "error",
      "all"
    ],
    "import/no-named-as-default": 0,
    "@typescript-eslint/brace-style": [
      "error",
      "1tbs"
    ],
    "@typescript-eslint/space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ]
  }
}
