{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "@antfu/eslint-config",
    "plugin:nuxt/recommended"
  ],
  "globals": {
    "$nuxt": true
  },
  "rules": {
    "space-before-function-paren": 0,
    "@typescript-eslint/comma-dangle": 0,
    "no-new": "warn",
    "no-console": "warn",
    "no-debugger": "error",
    "no-tabs": [
      "error",
      {
        "allowIndentationTabs": false
      }
    ],
    "require-await": "off",
    "no-unused-vars": "warn",
    "no-dupe-keys": "warn",
    "curly": [
      "error",
      "all"
    ],
    "import/no-named-as-default": 0,
    "@typescript-eslint/brace-style": [
      "error",
      "1tbs"
    ],
    "@typescript-eslint/space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "vue/require-default-prop": "off",
    "vue/no-multiple-template-root": "off",
    "vue/component-name-in-template-casing": [
      "error",
      "kebab-case"
    ],
    "vue/no-unused-components": "warn",
    "vue/attribute-hyphenation": [
      "error",
      "always"
    ],
    "vue/v-on-event-hyphenation": [
      "error",
      "always",
      {
        "autofix": true
      }
    ],
    "vue/custom-event-name-casing": [
      "error",
      "kebab-case"
    ],
    "vue/prop-name-casing": [
      "error",
      "camelCase"
    ],
    "vue/no-v-text-v-html-on-component": "off",
    "vue/require-v-for-key": "warn",
    "vue/return-in-computed-property": "warn",
    "vue/no-side-effects-in-computed-properties": "warn",
    "vue/multi-word-component-names": "error",
    "vue/no-mutating-props": "warn"
  }
}
